@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap&#39;);


*{
  margin: 0;
  padding: 0;
}


  :root {

    --rosa-fraco: #caa8f5ff;
    --roxo-fraco: #9984d4ff;
    --mendigo-violeta: #592e83ff;
    --violeta-meianoite: #230c33ff;
    --título:"Merriweather", serif;
    --texto:"Playwrite ID", cursive;

  }

  body {
    background:var(--mendigo-violeta);
    font-family:var(--texto);
  }

  header {
    background-color: var (--violeta-meianoite);
    display: flex;
    justify-content: space-between;
    color: var(--rosa-fraco)
  }
.menu{
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 10px;
  color: var(--rosa-fraco) 
  text-transform: uppercase;
  font-size: 14px;
 }